.page_add_aluno{
    display: grid;
    grid-template-columns: 5% 95%;
}

.form-user-cad{
    background: transparent;
    min-height: 80vh;
    max-width: 40vh;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}