.page_add_aluno {
  display: grid;
  grid-template-columns: 20% 80%;
}
.centered-container {
  display: grid;
  max-height: 50em;
  max-width: 100em;
  padding: 2em;
  grid-template-columns: 80%;
  grid-template-rows: 6% 80%;
  justify-content: center;
  margin-top: 3em;
}

.form-curso-cad{
    display: grid;
    background: transparent;
    min-height: 50em;
    max-width: 60em;
    gap: 10px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 8% 10%;
    color: #fff;
    justify-content: center;
    margin-top: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.title-container {
  width: 20em;
  height: 39px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4dd0e1;
}

.btn-btn-curso{
    display: flex;
    justify-content: center;
    width: 30em;
    font-weight: 600;
    font-family: 'Monstserrat';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

.ant-input {
  background-color: #1f2223;
}

.ant-btn:hover {
  background: #42b6c6;
}
