.pg-professor{
    display: grid;
    grid-template-columns: 20% 80%;
}

.ant-layout{
    background: #282C2D;
}

#root{
    background-color: #282C2D;
}

.table-design{
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vh;
    margin-top: 10vh;
}

.ant-table{
    background: transparent;
}

.ant-table-tbody > tr > td{
    color: #fff;
    text-align: center;
}

.ant-table-thead > tr > th{
    background: #1F2223;
    border-top: 1px solid #fff;
    color: #fff;
    text-align: center;
    border-bottom: transparent;
    height: 4em;
}
.ant-table-container table > thead > tr:first-child th:first-child{
    border-left:  1px solid #fff;
}

.ant-table-container table > thead > tr:first-child th:last-child{
    border-right:  1px solid #fff;
}

.ant-table-container table > tbody > tr td:first-child{
    border-left: 1px solid #fff;
}

.ant-table-container table > tbody > tr td:last-child{
    border-right: 1px solid #fff;
}

.ant-table-tbody > tr.ant-table-row:hover > td{
    background: transparent;
}

.btn-container{
    flex-direction: row;
    width: 10em;
    margin-bottom: 2em;
    margin-right: 2em;
    background-color: #577078;
    border: transparent;
    border-radius: 7px;
    color: #fff;
}

.ipt-container{
    flex-direction: row;
    width: 17em;
    margin-bottom: 2em;
    color: #fff;
}
.ant-input{
    background: #575C5E;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
}
.ant-input-affix-wrapper{
    background: #575C5E;
    border-radius: 7px;
    border: transparent;
}
.ant-input-affix-wrapper > .ant-input{
    font-size: 14px;
}
.action-container{
    display: flex;
    max-height: 10vh;
}
.ant-btn:hover{
    background-color: #577078;
    color: #fff;
}